.list-wrapper {
  background-color: var(--green);
  height: auto;
  width: 90%;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
}

.list {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list h2 {
  font-size: 22px;
  border-bottom: 2px solid #000000;
  width: 80%;
  margin: 5px 0 15px;
}

.list li {
  margin-bottom: 7.5px;
  font-size: 18px;
}