.create-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.new-list, .edit-list {
  margin-top: 25px;
  width: 50px;
  height: 50px;
  font-size: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--lightBlue);
  cursor: pointer;
  transition: .2s;
}

.new-list:hover, .edit-list:hover {
  background-color: rgba(255, 255, 255, .5);
}

.creating-list {
  width: 90%;
  min-height: 125px;
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.creating-list > h2 {
  font-size: 25px;
}
.add-item-wrapper {
  margin-top: 15px;
  width: 100%;
  height: 25px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
}

.item-input {
  width: 80%;
  height: 100%;
  font-size: 20px;
}

.add-item-button {
  width: 15%;
  text-align: center;
  font-size: 20px;
  background-color: var(--lightBlue);
  border-radius: 5px;
  padding: 5px;
  transition: .2s;
}

.add-item-button:hover {
  background-color: rgba(255, 255, 255, .5);
}

.item-list-wrapper {
  margin-top: 15px;
  width: 100%;
}

.item-list > li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.item-list > li > h3 {
  width: 80%;
  font-size: 20px;
}

.item-list > li > button {
  width: 15%;
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: #cc3535;
  border-radius: 5px;
  padding: 5px;
  transition: .2s;
}