.create-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.button-wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  bottom: 10px;
  left: 85vw;
  flex-direction: column;
  justify-content: space-evenly;
}
.new-list, .edit-list {
  margin-top: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--blue);
  cursor: pointer;
  transition: .2s;
}

.new-list:hover, .edit-list:hover {
  background-color: var(--lightBlue);
}

.new-list > p {
  font-size: 65px;
  text-align: center;
}

.minus-icon {
  width: 30px;
  height: auto;
}

.edit-icon {
  width: 40px;
  height: 40px;
}

.creating-list {
  width: 90%;
  position: relative;
  margin-top: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--green);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-header-wrapper {
  width: 100%;
}
.create-header-wrapper > h2 {
  font-size: 25px;
  text-align: center;
}

.save-list-button {
  width: 15%;
  position: absolute;
  left: 10px;
  top: 5px;
  text-align: center;
  font-size: 20px;
  background-color: var(--blue);
  border-radius: 5px;
  padding: 5px;
  transition: .2s;
}

.save-list-button:hover {
  background-color: var(--lightBlue);
}

.add-item-wrapper {
  margin-top: 25px;
  width: 100%;
  height: 25px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000000;
}

.item-input {
  width: 80%;
  height: 100%;
  font-size: 20px;
}

.add-item-button {
  width: 15%;
  text-align: center;
  font-size: 20px;
  background-color: var(--blue);
  border-radius: 5px;
  padding: 5px;
  transition: .2s;
}

.add-item-button:hover {
  background-color: var(--lightBlue);
}

.item-list-wrapper {
  margin-top: 15px;
  width: 100%;
}

.item-list > li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.item-list > li > h3 {
  width: 80%;
  font-size: 20px;
  background-color: var(--lightGreen);
  border-radius: 5px;
  padding: 5px;
}

.item-list > li > button {
  width: 15%;
  height: 30px;
  text-align: center;
  font-size: 20px;
  background-color: var(--red);
  border-radius: 5px;
  padding: 5px;
  transition: .2s;
}