:root {
  --blue: #3CA3C3;
  --darkBlue: #3C60C3;
  --lightBlue: #3CC39F;
}

.app {
  background-color: #34353e;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
