:root {
  --darkGreen: #357a38;
  --green: #4caf50;
  --lightGreen: #6fbf73;

  --darkRed: #a73a38;
  --red: #ef5350;
  --lightRed: #f27573;

  --darkBlue: #2e73ab;
  --blue: #42a5f5;
  --lightBlue: #67b7f7;
}

.app {
  background-color: #34353e;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #34353e;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
