.nav-wrap {
  width: 100%;
  height: 75px;
  background-color: var(--lightBlue);
}

.nav-list {
  display: flex;
  margin: auto;
  height: 100%;
  width: 30%;
  justify-content: space-between;
  align-items: center;
}